[Desktop Entry]
Name=NTE Player
Name[zh_CN]=NTE播放器
Comment=NTE Style Player
Comment[zh_CN]=异环车载样式播放器
Icon=gnome-player
Exec=/usr/bin/python3 /usr/share/nte-player/app.py
PrefersNonDefaultGPU=false
StartupNotify=false
Terminal=false
Type=Application
Categories=AudioVideo;
StartupNotify=true
